form div{
    padding:4px;;
}
label{
    display: block;
}
 input[type="text"],
 input[type="email"],
 input[type="number"]
 {
     border-radius:2px;
     min-height:25 px;
     padding: 3 px;
 }
 button{
     border-radius: 4px;
     background-color: royalblue;
 }